<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AerolineaFrba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AerolineaFrba.Properties.Settings.CadenaDeConexion"
            connectionString="Password=gd2015;Persist Security Info=True;User ID=gd;Initial Catalog=GD2C2015;Data Source=localhost\SQLSERVER2012" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AerolineaFrba.Properties.Settings>
            <setting name="FechaSistema" serializeAs="String">
                <value>09/21/2015 14:04:00</value>
            </setting>
        </AerolineaFrba.Properties.Settings>
    </userSettings>
</configuration>